/**
 * The ThemeProvider has a root consuming class which will apply the current
 * token values to the container DIV, so that fonts and default colors, which
 * refer to token values, can be applied.
 */
.root {
  background: var(--colors-body-background);
  color: var(--colors-body-contentColor);
  font-family: var(--fonts-body-fontFamily);
  font-weight: var(--fonts-body-fontWeight);
  font-size: var(--fonts-body-fontSize);
  line-height: var(--fonts-body-fontLineHeight);

  > * {
    box-sizing: border-box;
  }
}
